<h2 style="color: black; font-weight: bold;" class="naslov">Equipments</h2>
<div class="tabela">
  <mat-form-field>
    <input matInput class="filter" (keyup)="applyFilter($event)" placeholder="Filter" #input>
  </mat-form-field>

  <div >
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let row"> {{row.type}} </td>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="coordinate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Coordinates </th>
        <td mat-cell *matCellDef="let row"> {{row.coordinate}} </td>
      </ng-container>

      <ng-container matColumnDef="adress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Adress </th>
        <td mat-cell *matCellDef="let row"> {{row.adress}} </td>
      </ng-container>

      <ng-container matColumnDef="add">
        <th mat-header-cell *matHeaderCellDef> Add </th>
        <td mat-cell *matCellDef="let row"> <button mat-button id="idd" (click)="Add(row)">
                Add
            </button> </td>
    </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[3,5, 10, 25, 100]"></mat-paginator>
  </div>
</div>

<div class="row dugmadi">
	<div class="col-1">
		<button [disabled]="!Check()" class="add btn btn-primary" type="button" (click)="onAdd()">Save</button>
	</div>
	<div class="col-1">
		<button class="cancel" (click)="onCancel()" type="button">Close</button>
	</div>
</div>