<html>
    <head>
        <meta name="viewport" charset="utf-8"
        content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="svaoprema">
            <table id="tabelaplanova" class="table">
            
                <tr>
                    <th>ID 
                        <button class="blackArrow">
                            <i class="fas arrow fa-caret-down"></i>
                        </button>
                    </th>
                    <th>Name 
                        <button class="blackArrow">
                            <i class="fas arrow fa-caret-down"></i>
                        </button>
                    </th>
                    <th>Type 
                        <button class="blackArrow">
                            <i class="fas arrow fa-caret-down"></i>
                        </button>
                    </th>
                    <th>Coordinates 
                        <button class="blackArrow">
                            <i class="fas arrow fa-caret-down"></i>
                        </button>
                    </th>
                    <th>Adress 
                        <button class="blackArrow">
                            <i class="fas arrow fa-caret-down"></i>
                        </button>
                    </th>
                </tr>
      
    
                <tr *ngFor="let opremaa of equipments">
                   <td>{{opremaa.id}}</td>
                   <td>{{opremaa.name}}</td>
                   <td>{{opremaa.tip}}</td>
                   <td>{{opremaa.koordinate}}</td>
                   <td>{{opremaa.adresa}}</td>
                </tr>

                
            </table>
        </div>

        <div class="oprema">
            <label class="labelaizbor">Choose equipment</label> 
            <select class="select">
                <option *ngFor="let eq of equipments" [value]="eq.id">{{eq.id}}</option>
            </select>

            <button type="button" routerLink="#" class=" btn btndodaj btn-primary">
                <i class="fa fa-check" aria-hidden="true"></i>
            </button>
        </div>
    </body>
</html>

