<html>
    <head>
        <meta name="viewport"
        content="width=device-width, initial-scale=1">
    </head>
    
<body>
<div class="container">
    <div class="row">
        <body>
        <table id="tabelaplanova" class="table">
            
            <tr>
                <th>ID 
                    <button class="blackArrow">
                        <i class="fas arrow fa-caret-down"></i>
                    </button>
                </th>
                <th>Start Date 
                    <button class="blackArrow">
                        <i class="fas arrow fa-caret-down"></i>
                    </button>
                </th>
                <th>Phone No. 
                    <button class="blackArrow">
                        <i class="fas arrow fa-caret-down"></i>
                    </button>
                </th>
                <th>Status 
                    <button class="blackArrow">
                        <i class="fas arrow fa-caret-down"></i>
                    </button>
                </th>
                <th>Address 
                    <button class="blackArrow">
                        <i class="fas arrow fa-caret-down"></i>
                    </button>
                </th>
            </tr>
  

            <tr>
                <td>
                    WR1
                </td>
                <td>
                    13.08.2018.
                </td>
                <td>
                    060978064
                </td>
                <td>
                    Draft
                </td>
                <td>
                    Vladike Cirica 10
                </td>
            </tr>

            <tr>
                <td>
                    WR2
                </td>
                <td>
                    13.08.2018.
                </td>
                <td>
                    064569257
                </td>
                <td>
                    Draft
                </td>
                <td>
                    Suboticka 10
                </td>
            </tr>

            <tr>
                <td>
                    WR3
                </td>
                <td>
                    13.08.2018.
                </td>
                <td>
                    060493128
                </td>
                <td>
                    Submitted
                </td>
                <td>
                    Mileve Marica 45 
                </td>
            </tr>

            <tr>
                <td>
                    WR4
                </td>
                <td>
                    13.08.2018.
                </td>
                <td>
                    063786125
                </td>
                <td>
                    Submitted
                </td>
                <td>
                   Masarikova 2
                </td>
            </tr>

            <script>    

                $(document).ready(function () {
                    $('#tabelaplanova').DataTable();
                    $('.dataTables_length').addClass('bs-select');
                  });
          
                $(document).ready(function () {
                  $('#tabelaplanova').DataTable({
                    "pagingType": "simple_numbers" // "simple" option for 'Previous' and 'Next' buttons only
                  });
                  $('.dataTables_length').addClass('bs-select');
                });
            </script>

        </table>

        
    

    </body>
    </div>   
</div>
</body>
</html>
