<html>
    <head>
        <meta name="viewport"
        content="width=device-width, initial-scale=1">
    </head>
    
<body>
<div class="container">
    <div class="row">
        <body>
        <table id="tabelaplanova" class="table">
            
            <tr>
                <th>ID 
                    <button class="blackArrow">
                        <i class="fas arrow fa-caret-down"></i>
                    </button>
                </th>
                <th>Start Date 
                    <button class="blackArrow">
                        <i class="fas arrow fa-caret-down"></i>
                    </button>
                </th>
                <th>Phone No. 
                    <button class="blackArrow">
                        <i class="fas arrow fa-caret-down"></i>
                    </button>
                </th>
                <th>Status 
                    <button class="blackArrow">
                        <i class="fas arrow fa-caret-down"></i>
                    </button>
                </th>
                <th>Address 
                    <button class="blackArrow">
                        <i class="fas arrow fa-caret-down"></i>
                    </button>
                </th>
            </tr>

            <tr *ngFor = "let podaci of podaci_za_tabelu">

                <td>
                    {{podaci.id}}
                </td>

                <td>
                    {{podaci.StartDate}}
                </td>

                <td>
                    {{podaci.PhoneNumber}}
                </td>

                <td>
                    {{podaci.Status}}
                </td>

                <td>
                    {{podaci.Address}}
                </td>

            </tr>
  
                                           
            <script>    

                $(document).ready(function () {
                    $('#tabelaplanova').DataTable();
                    $('.dataTables_length').addClass('bs-select');
                  });
          
                $(document).ready(function () {
                  $('#tabelaplanova').DataTable({
                    "pagingType": "simple_numbers" // "simple" option for 'Previous' and 'Next' buttons only
                  });
                  $('.dataTables_length').addClass('bs-select');
                });
            </script>

        </table>

        
    

    </body>
    </div>   
</div>
</body>
</html>
