/*div.container-fluid
{
    position: relative;
    top: -1320px;
    background-color: aliceblue;
    width: 300px;
    height: 400px;  
    margin-right: -550px; 
}

img.slika{
    max-width: 100%;
    max-height: fit-content;
}

@media screen and (max-width:992px)
{
    div.container-fluid
{
    position: relative;
    top: 80px;
    background-color: aliceblue;
    width: 300px;
    height: 300px; 
    left: 22%;  
}
}

div.lozinkaobavezna
{
    text-align: center;
    font-size: 13px;
}

div.mejlobavezan
{
    text-align: center;
    font-size: 13px;
}

input.unosadrese
{
    width: 200px;
    height: 30px;
    margin-left: 45px;
    font-size: 15px;
}

input.lozinkatekst
{
    width: 200px;
    height: 30px;
    margin-left: 45px;
    font-size: 15px;
}

button.logindugme
{
    width: 200px;
    height: 30px;
    background-color: black;
    color: white; 
    margin-left: 45px;
    font-size: 15px;
}

label.mejladresa
{
    font-weight: bold;
    margin-top: 30px;
    margin-left: 45px;
    font-size: 15px;
}

a.naslovcreate
{
    font-style: italic;
    font-weight: bold;
    margin-left: 45px;
    font-size: 15px;
}

label.lozinka
{
    margin-top: 10px;
    margin-left: 45px;
    font-weight: bold;
    font-size: 15px;
}

a.linkzaboravljenalozinka
{
    margin-left: 45px;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
}*/

.main-div mat-card {
    padding:0px;
    }
    
    .glavni-div {
        /*background-color: aqua;*/
        background-image: url('src/assets/Images/lightning.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .forgot-password {
        position: relative;
        text-align: right;
        
    }
    
    .createaccount {
        position: relative;
        text-align: right;
    }
    
    .login-form {
        padding: 20px;
    }
    
    .btnreport {   
        width: 100%;
    }
    .fb
    {
        width: 100%;
    }

    .google
    {
        width: 100%;
    }

  