<html>
    <head>
        <meta name="viewport"
     content="width=device-width, initial-scale=1">

    </head>

    <body>

    
<div class="col-md-6">
    <div class="container-fluid">
        <form name="forma" class="forma">
            <br>
            
                    <label class="mejladresa">Email Address:</label>
                    <br>

                    <input type="text" id="mejladresa" class="unosadrese" placeholder="example@email"> 
                    <br>  
                    <br>               
                
                    <label class="lozinka">Password:</label>
                    <br>

                    <input class="lozinkatekst" type="password" id="lozinka" placeholder="Enter password"> 
                    <br>  
                    <a class="linkzaboravljenalozinka" href="#">Forgot your password?</a> 
                    <br>          
                    <br>    

                    <a routerLink="/dashboard"><button class="logindugme" type="submit" >Login</button></a>
                    <br>

                    <a routerLink="/registration" class="naslovcreate">Create account</a> 
                    <br>
                    <br>
        </form>   
    </div>
</div>
</body>
</html>

