<!--*******************************NAS TIP FORME************************************
<div class="col-md-6">
    <div class="container-fluid">
        <form name="forma" class="forma" [formGroup]="courseForm" (ngSubmit)="onSubmit()">
            <br>
            
            <div class="form-group" [ngClass]="{'has-error' : courseForm.get('email')?.errors && (courseForm.get('email')?.touched || courseForm.get('email')?.dirty)}">
                    <label for="email" class="mejladresa control-label">Email Address:</label>
                    <br>

                    <input type="text" id="mejladresa" class="unosadrese form-control" formControlName="email" placeholder="example@email"> 

                    <div class="help-block" *ngIf = "courseForm.get('email')?.errors && courseForm.get('email')?.touched || courseForm.get('email')?.dirty">
                        <div class="mejlobavezan" *ngIf="courseForm.controls.email.errors?.required">
                            Email is required!
                        </div>
                        <div *ngIf="courseForm.controls.email.errors?.email">
                            Email is not valid!
                        </div>
                    </div>
            </div>
                    <br>  
                    <br>               
                

                <div class="form-group" [ngClass]="{'has-error' : courseForm.get('lozinka')?.errors && (courseForm.get('lozinka')?.touched || courseForm.get('lozinka')?.dirty)}">
                    <label for="lozinka" class="lozinka control-label">Password:</label>
                    <br>

                    <input minlength="5" class="lozinkatekst form-control" formControlName="lozinka" type="password" id="lozinka" placeholder="Enter password"> 
                    <div class="help-block" *ngIf = "courseForm.get('lozinka')?.errors && courseForm.get('lozinka')?.touched || courseForm.get('lozinka')?.dirty">
                        <div class="lozinkaobavezna" *ngIf="courseForm.controls.lozinka.errors?.required">
                            Password is required!
                        </div>

                        <div *ngIf="courseForm.controls.lozinka.errors?.pattern">
                            Password must begin with letter and must contains numbers with big or small letters!
                        </div>

                                                        
                    </div>
                </div>

                    <br>  
                    <a class="linkzaboravljenalozinka" href="#">Forgot your password?</a> 
                    <br>          
                    <br>    

                    <a routerLink="/dashboard"><button class="logindugme" type="submit" >Login</button></a>
                    <br>

                    <a routerLink="/registration" class="naslovcreate">Create account</a> 
                    <br>
                    <br>
        </form>   
    </div>
</div>
-->

<!--**************************DRUGI TIP FORME*****************************************-->
<!--
<div fxFlex fxLayout="column" fxLayoutGap="0px">
  <div fxLayout="row wrap">
    <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column">
      
      <div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
        <img class="slika" width="50%" src="/assets/Images/Tesla.jpg"/>
      </div>
 
    </div>

    <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column" class="mat-app-background">
      <div fxLayout="column" fxLayoutAlign="center" style="margin-top:30px">
        <div fxLayout="row" fxLayoutAlign="center">
          <h3>Welcome to Tesla Distribution</h3>
        </div>

        <div fxLayout="row" fxLayoutAlign="center">
          <h4>Please sign in below</h4>
        </div>
      </div>

      <div fxLayout="column" fxLayoutAlign="center" style="margin-top:100px">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          <div fxLayoutAlign="center">
            <mat-form-field style="width:50%" appearance="fill">
              <mat-label>Enter username</mat-label>
              <input formControlName="username" matInput>
              <mat-error *ngIf="form.controls['username'].invalid">Please enter a valid username</mat-error>
            </mat-form-field>
          </div>
          <div fxLayoutAlign="center" style="margin-top:10px">
            <mat-form-field style="width:50%" appearance="fill">
              <mat-label>Enter password</mat-label>
              <input type="password" formControlName="password" matInput>
              <mat-error *ngIf="form.controls['password'].invalid">Please enter a valid password</mat-error>
            </mat-form-field>
          </div>
          <div fxLayoutAlign="center" style="margin-top:20px">
            <button [disabled]="!form.valid || formSubmitted" type="submit" mat-raised-button color="primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div> 
</div>-->

<!--************************************TRECI TIP FORME*********************************-->

<div fxLayoutAlign="center center" fxFlexFill class="glavni-div">
  <div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="25%">
      <mat-toolbar fxLayoutAlign="center center">Tesla Distribution</mat-toolbar>
      <mat-toolbar fxLayoutAlign="center center" color="primary">Login</mat-toolbar>
      <form [formGroup]="form" (submit)="onSubmit()" fxLayoutAlign="stretch" fxLayout="column" class="login-form">
        <mat-form-field appearance="fill">
          <input matInput placeholder="Enter Email"  formControlName="Email">
          <mat-error *ngIf="form.controls['Email'].invalid">Please enter a valid Email</mat-error>
        </mat-form-field>



        <mat-form-field appearance="fill">
          <input matInput type="password" placeholder="Enter Password" formControlName="Password"
            [type]="hide ? 'password' : 'text'" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide">
            <mat-icon>
              {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
          </button>
          <mat-error *ngIf="form.controls['Password'].invalid">Please enter a valid password</mat-error>
        </mat-form-field>

        <!-- <span class="forgot-password"><a routerLink="/verifikacija">Check status verifications</a></span>
        <br> -->
        <span class="createaccount"><a routerLink="/registration">Create account</a></span>
        <button [disabled]="!form.valid || formSubmitted" mat-raised-button color="primary" type="submit">Login</button>
      </form>

  <button mat-button type="button" (click)="loginWithFacebook()" class="btn fb btn-primary">
    <mat-icon>facebook</mat-icon>Sign in with Facebook
  </button><br><br>

  <button mat-button type="button" (click)="loginWithGoogle()" class="btn google btn-primary">
    <mat-icon>google</mat-icon>Sign in with Google
  </button><br><br>

    </mat-card>
  </div>
  <!-- <button mat-button type="button" class="btn btnreport btn-primary">
    <mat-icon>call</mat-icon>Report outage
  </button> -->

</div>