/*.novi
{
    position: relative;
    /*top: -2000px;
    left: -120px;
    width: 150px;
    height: 50px;
    margin-right: 200px;
    font-size: 20px;
}

.svadokumenta
{
    position: relative;
    /*top: -2000px;
    left: -200px;
    width: 150px;
    height: 50px;
    font-size: 20px;
}

.mojadokumenta
{
    position: relative;
    /*top: -2050px;
    left: 305px;
    width: 150px;
    height: 50px;
    margin-right: 200px;
    font-size: 20px;
}

.filteri
{
    position: relative;
    /*top: -2100px;
    left: 1150px;
    width: 150px;
    height: 50px;
    margin-right: 200px;
    font-size: 20px;
}*/



  /*.nesto
  {
      position: relative;
      margin-right: 3rem;
      right: -100px;
      top: 40px;
      width: 600px;
  }*/



  .btnmine{
    position: relative;
    right: -795px;
    margin-right: -6.5rem;
    top: 10px;
  }
  
  .btnadd{
    position: relative;
    top: 10px;
    margin-right: -6.5rem;
    right: -560px;
  }
  
  .btnall{
    position: relative;
    right: -1070px;
    margin-right: -6.5rem;
    top: 10px;
  }