<!--
<div class="container">
    <div class="row">
        <div class="col-md-6">
            
            <button routerLink="/SwitchingPlanNew"
             class="novi" 
             type="button">
             <i class="fas fa-plus"></i>
            New
        </button>

        <button
         class="svadokumenta"
          type="button">
          All
        </button>

            <button
             class="mojadokumenta"
              type="button">
              Mine
            </button>

            <button
             class="filteri"
              type="button">
              <i class="fas fa-filter"></i>
              Filter
            </button>

        </div>
    </div>
</div>
-->

<div class="container">
    <button routerLink="/SwitchingPlanNew" class="btnadd" mat-raised-button color="primary"><mat-icon>add</mat-icon>New</button>
    <button class="btnall" mat-raised-button color="primary">All</button>
    <button class="btnmine" mat-raised-button color="primary">Mine</button>
    <button class="btnfilter" mat-raised-button color="primary">Filter</button>
</div>
