<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item><mat-icon class="material-icons">search</mat-icon></a>
      <a mat-list-item routerLink="/dashboard"><mat-icon>home</mat-icon></a>
      <a mat-list-item routerLink="/documents"><mat-icon>text_snippet</mat-icon></a>
      <a mat-list-item routerLink="/map"><mat-icon>language</mat-icon></a>
      <a mat-list-item routerLink=""><mat-icon>call</mat-icon></a>
      <a mat-list-item routerLink=""><mat-icon>work</mat-icon></a>
      <a mat-list-item routerLink="/teams"><mat-icon>group_work</mat-icon></a>
      <a mat-list-item routerLink="/consumers"><mat-icon>people</mat-icon></a>
      <br><br><br><br><br>
      <a mat-list-item routerLink=""><mat-icon>settings</mat-icon></a>
      <a mat-list-item routerLink="/Notifications"><mat-icon>notifications</mat-icon></a>
      <a mat-list-item routerLink=""><mat-icon>login</mat-icon></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Dashboard</span>
      <span class="spacer"></span>
      <p>Name Lastname</p>     
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  
    <app-footer class="footer"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
