body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #111;
  padding: 10px 10px;
  height: 80px;
}

p{
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 

}
.dash{
  position: relative;
  left: 85px;
  top: 14px;
  font-size: 40px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  line-height: 25px;

}
.header-right {
  padding-top: 10px;
  float: right;
}

@media screen and (max-width: 620px) {

  .header-right{
    display: none;
  }


}