
    <div class="container">
        <form name="forma" class="forma">
            <br>
            
                    <label class="mejladresa">Email Address:</label>
                    <br>

                    <input type="text" id="mejladresa" class="unosadrese" placeholder="example@email"> 
                    <br>  
                    <br>               
                   
                    <label class="lozinka">Password:</label>
                    <br>

                    <input class="lozinkatekst" type="text" id="lozinka" placeholder="password"> 
                    <br>  
                    <a class="linkzaboravljenalozinka" href="">Forgot your password?</a> 
                    <br>          
                    <br>    

                    <button class="logindugme" type="submit">Login</button>
                    <br>

                    <p class="naslovcreate">Create account</p> 
                    <br>
                    <br>
                    
                    <!--<button class="" type="submit">Login with facebook</button>-->
        </form>   
    </div>

