<!--
<div class="container">
    <table class="tabela">
        <tr>
            <td>
                <label>Type:</label>
            </td>
            <td class="types">
                <select name="types" id="types">
                    <option value="plannedWork">Planned Work</option>
                    <option value="unplannedWork">Unplanned Work</option>                   
                </select>               
            </td>

            <td>
                <label>Company:</label>
            </td>
            <td>
                <input placeholder="Enter company name" id="company" type="text">
            </td>

        </tr>
        <tr>
            <td>
            <label>Status:</label>
            </td>
            <td>
            <label>Draft</label> 
            </td>  

            <td>
                <label>Phone No:</label>
            </td>
            <td>
                <input placeholder="Enter phone number" id="phonenumber" type="number">
            </td>
            
        </tr>
        <tr>
            <td>
            <label for="incidents">Incident:</label>
            </td>
            <td>
            <select name="incidents" id="incidents">
                <option value="inc1">INC1</option>
                <option value="inc2">INC2</option>
                <option value="inc3">INC3</option>
            </select>
            </td>  

            <td>
                <label>Date/time created:</label>
            </td>
            <td>
                <input id="datetimecreated" type="datetime-local">
            </td>

        </tr>

        <tr>
            <td>
            <label for="workrequest">Work request:</label>
            </td>
            <td>
            <select name="workrequest" id="workrequest">
                <option value="wr150">WR150</option>
                <option value="wr151">WR151</option>
                <option value="wr152">WR152</option>
            </select>
            </td>  

            <td>
                <label for="fieldcrew">Field crew:</label>
            </td>
            <td>
                <select name="fielcrew" id="fieldcrew">
                    <option value="nscrew">NS Crew</option>
                    <option value="zrcrew">ZR Crew</option>
                    <option value="bgcrew">BG Crew</option>
                </select>
            </td>


        </tr>

        <tr>
            <td>
                <label>Type of work:</label>
            </td>
            <td>
                <select name="docTypes" id="docTypes">
                    <option value="equipment">Equipment</option>
                </select>
            </td>

            
        </tr>
        <tr>
            <td>
                <label>Start date/time:</label>
                </td>
                <td>
                <input type="datetime-local">
            </td>
        </tr>

        <tr>
            <td>
                <label>End date/time:</label>
            </td>
            <td>
                <input type="datetime-local">
            </td>
        </tr>

        <tr>
            <td>
            <label>Created by:</label>
            </td>
            <td>
            <label>Peter Peterson</label> 
            </td>

        </tr>

        <tr>
            <td>
            <label>Purpose:</label>
            </td>
            <td>
            <input placeholder="Enter purpose" id="purpose" type="text">
            </td>
        </tr>

        <tr>
            <td>
            <label>Details:</label>
            </td>
            <td>
            <input placeholder="Enter details" id="details" type="text">
            </td>
        </tr>

        <tr>
            <td>
            <label>Notes:</label>
            </td>
            <td>
            <input placeholder="Enter notes" id="notes" type="text">
            </td>
        </tr>

        <tr>
            <td colspan="3" align="center">
                <button class="btn dugmesacuvaj btn-primary" type="submit" id="sacuvaj" name="sacuvaj">Sacuvaj</button>
            </td>

            <td>
                <button class="btn dugmeponisti btn-primary" type="button" id="ponisti" name="ponisti">Ponisti</button>

            </td>

        </tr>


    </table>

</div>-->

<div fxLayoutAlign="center center" fxFlexFill class="glavni-div">
<table class="tabela">
    <tr>
        <td>
            <mat-label>Type:</mat-label>
        </td>
        <td class="types">
            <select matNativeControl name="types" id="types">               
                <option value="plannedWork">Planned Work</option>
                <option value="unplannedWork">Unplanned Work</option>                   
            </select>               
        </td>

        <td>
            <mat-label>Company:</mat-label>
        </td>
        <td>
            <input matInput  placeholder="Enter company name" id="company" type="text">
        </td>

    </tr>
    <tr>
        <td>
        <mat-label>Status:</mat-label>
        </td>
        <td>
        <mat-label>Draft</mat-label> 
        </td>  

        <td>
            <mat-label>Phone No:</mat-label>
        </td>
        <td>
            <input matInput  placeholder="Enter phone number" id="phonenumber" type="number">
        </td>
        
    </tr>
    <tr>
        <td>
        <mat-label for="incidents">Incident:</mat-label>
        </td>
        <td>
        <select matNativeControl name="incidents" id="incidents">
            <option value="inc1">INC1</option>
            <option value="inc2">INC2</option>
            <option value="inc3">INC3</option>
        </select>
        </td>  

        <td>
            <mat-label>Date/time created:</mat-label>
        </td>
        <td>
            <input matInput id="datetimecreated" type="datetime-local" placeholder="start date">
  
        </td>

    </tr>

    <tr>
        <td>
        <mat-label for="workrequest">Work request:</mat-label>
        </td>
        <td>
        <select matNativeControl name="workrequest" id="workrequest">
            <option value="wr150">WR150</option>
            <option value="wr151">WR151</option>
            <option value="wr152">WR152</option>
        </select>
        </td>  

        <td>
            <mat-label for="fieldcrew">Field crew:</mat-label>
        </td>
        <td>
            <select matNativeControl name="fielcrew" id="fieldcrew">
                <option value="nscrew">NS Crew</option>
                <option value="zrcrew">ZR Crew</option>
                <option value="bgcrew">BG Crew</option>
            </select>
        </td>


    </tr>

    <tr>
        <td>
            <mat-label>Type of work:</mat-label>
        </td>
        <td>
            <select matNativeControl name="docTypes" id="docTypes">
                <option value="equipment">Equipment</option>
            </select>
        </td>

        
    </tr>
    <tr>
        <td>
            <mat-label>Start date/time:</mat-label>
            </td>
            <td>
            <input matInput  type="datetime-local" placeholder="start date">
        </td>
    </tr>

    <tr>
        <td>
            <mat-label>End date/time:</mat-label>
        </td>
        <td>
            <input matInput type="datetime-local" placeholder="start date">
        </td>
    </tr>

    <tr>
        <td>
        <mat-label>Created by:</mat-label>
        </td>
        <td>
        <mat-label>Peter Peterson</mat-label> 
        </td>

    </tr>

    <tr>
        <td>
        <mat-label>Purpose:</mat-label>
        </td>
        <td>
        <input matInput  placeholder="Enter purpose" id="purpose" type="text">
        </td>
    </tr>

    <tr>
        <td>
        <mat-label>Details:</mat-label>
        </td>
        <td>
        <input matInput  placeholder="Enter details" id="details" type="text">
        </td>
    </tr>

    <tr>
        <td>
        <mat-label>Notes:</mat-label>
        </td>
        <td>
        <input matInput  placeholder="Enter notes" id="notes" type="text">
        </td>
    </tr>

    <tr>
        <td colspan="3" align="center">
            <button mat-button class="btn dugmesacuvaj btn-primary" type="submit" id="sacuvaj" name="sacuvaj">Sacuvaj</button>
        </td>

        <td>
            <button mat-button class="btn dugmeponisti btn-primary" type="button" id="ponisti" name="ponisti">Ponisti</button>

        </td>

    </tr>


</table>
</div>




