.oprema
{
    position: relative;
    margin-left: 600px;
    top:-200px;
    left: 900px;
    width: 400px;
}

.labelaizbor
{
    position: relative;
    font-size: 20px;
}
.select
{
    position: relative;
    width: 80px;
    height: 40px;
    margin-left: 10px;
}
.btndodaj
{
    position: relative;
    top: 2px;
    width: 80px;
    height: 40px;
    font-style: italic;
    font-size: 18px;
    left: 20px;
    background-color: grey;
}

.btndodaj:hover{
    background-color: lightgray;
    transition-duration: 0.4s;
}

.tabela {
    position: relative;
    left: 500px;
    top: -230px;
    width: 900px;
    
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  td, th {
    width: 16.7%;
    padding-right: 90px;
    font-size: 20px;
  }

  .ss{
      position: relative;
      left: 100px;
  }
  .filter{
      width: 900px;
      height: 50px;
      font-size: 20px;
  }

.naslov
{
    position: relative;
    left: 1200px;
    top: -230px;
    font-size: 40px;
    width: 230px;
}

.dugmadi
{
  position: relative;
  left: 150px;
  width: 500px;
  top: -300px;
  height: 100px;
}

.add
{
  width: 150px;
  height: 50px;
}

.cancel
{
  width: 150px;
  height: 50px;
  margin-left: 150px;
}

