.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    background-color: rgba(245, 244, 244, 0.712);
    text-align: left;
    font-size: 30px;
    color: black;
    padding-left: 3.2%;
  }