
<div class="sidenav">
  <button type="button" class="btn search">
    <i class="fas sear fa-search"></i>
  </button>

  <button type="button" class="btn home">
    <i class="fas hom fa-home"></i>
  </button>

  
  <button routerLink = "/documents" type="button" class="btn file">
    <i class="fas fil fa-file-alt"></i>
  </button>

  <button type="button" class="btn planet">
    <i class="fas pla fa-globe"></i>
  </button>

  <button type="button" class="btn phone">
    <i class="fas pho fa-phone"></i>
  </button>

  <button type="button" class="btn suit">
    <i class="fas sui fa-suitcase"></i>
  </button>

  <button type="button" class="btn surprise">
    <i class="fas surpris fa-surprise"></i>
  </button>

  <button type="button" class="btn friends">
    <i class="fas friend fa-user-friends"></i>
  </button>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <button type="button" class="btn bell">
    <i class="fas bel fa-bell"></i>
  </button>

  <button type="button" class="btn cog">
    <i class="fas cg fa-cog"></i>
  </button>

  <button type="button" class="btn logout">
    <i class="fas logg fa-sign-in-alt"></i>
  </button>
</div> 
 