
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 60px;  
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 2px;
}

.search{
  display: flex;
  position: relative;
  margin-left: 3%;
  width: 75%;
  height: 7%;

}

.sear{
  position: relative;
  display: inline-block;
  margin-left: 10%;
  margin-top: 10%;
  width:5px;
  font-size: 30px;
  color: white;
}

.home{
  display: flex;
  position: relative;
  margin-left: 3%;
  width: 75%;
  height: 7%;

}

.hom{
  position: relative;
  display: inline-block;
  margin-left: 10%;
  margin-top: 10%;
  width:5px;
  font-size: 30px;
  color: white;
}

.file{
  display: flex;
  position: relative;
  margin-left: 3%;
  width: 75%;
  height: 7%;

}

.fil{
  position: relative;
  display: inline-block;
  margin-left: 10%;
  margin-top: 10%;
  width:5px;
  font-size: 30px;
  color: white;
}

.planet{
  display: flex;
  position: relative;
  margin-left: 3%;
  width: 75%;
  height: 7%;

}

.pla{
  position: relative;
  display: inline-block;
  margin-left: 10%;
  margin-top: 10%;
  width:5px;
  font-size: 30px;
  color: white;
}

.phone{
  display: flex;
  position: relative;
  margin-left: 3%;
  width: 75%;
  height: 7%;

}

.pho{
  position: relative;
  display: inline-block;
  margin-left: 10%;
  margin-top: 10%;
  width:5px;
  font-size: 30px;
  color: white;
}

.suit{
  display: flex;
  position: relative;
  margin-left: 3%;
  width: 75%;
  height: 7%;

}

.sui{
  position: relative;
  display: inline-block;
  margin-left: 10%;
  margin-top: 10%;
  width:5px;
  font-size: 30px;
  color: white;
}
.surprise{
  display: flex;
  position: relative;
  margin-left: 3%;
  width: 75%;
  height: 7%;

}

.surpris{
  position: relative;
  display: inline-block;
  margin-left: 10%;
  margin-top: 10%;
  width:5px;
  font-size: 30px;
  color: white;
}

.surpris2{
  position: relative;
  display: inline-block;
  margin-left: 10%;
  margin-top: 10%;
  width:5px;
  font-size: 30px;
  color: white;
}

.friends{
  display: flex;
  position: relative;
  margin-left: 3%;
  width: 75%;
  height: 7%;

}

.friend{
  position: relative;
  display: inline-block;
  margin-left: 10%;
  margin-top: 10%;
  width:5px;
  font-size: 30px;
  color: white;
}

.bell{
  display: flex;
  position: relative;
  margin-left: 3%;
  width: 75%;
  height: 7%;

}

.bel{
  position: relative;
  display: inline-block;
  margin-left: 10%;
  margin-top: 10%;
  width:5px;
  font-size: 30px;
  color: white;
}

.cog{
  display: flex;
  position: relative;
  margin-left: 3%;
  width: 75%;
  height: 7%;

}

.cg{
  position: relative;
  display: inline-block;
  margin-left: 10%;
  margin-top: 10%;
  width:5px;
  font-size: 30px;
  color: white;
}
.logout{
  display: flex;
  position: relative;
  margin-left: 3%;
  width: 75%;
  height: 7%;

}

.logg{
  position: relative;
  display: inline-block;
  margin-left: 10%;
  margin-top: 10%;
  width:5px;
  font-size: 30px;
  color: white;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
