<div class="sidenav">
    <button type="button" class="btn search">
        <i class="fas sear fa-search"></i>
      </button>
      <br>
      <br>
      <button type="button" class="btn home">
        <i class="fas hom fa-home"></i>
      </button>
      <br>
      <br>

      <button type="button" class="btn file">
        <i class="fas fil fa-file-alt"></i>
      </button>
      <br>
      <br>

      <button type="button" class="btn planet">
        <i class="fas pla fa-globe"></i>
      </button>
      <br>
      <br>

      <button type="button" class="btn phone">
        <i class="fas pho fa-phone"></i>
      </button>
      <br>
      <br>

      <button type="button" class="btn suit">
        <i class="fas sui fa-suitcase"></i>
      </button>
      <br>
      <br>

      <button type="button" class="btn surprise">
        <i class="fas surpris fa-surprise"></i>
      </button>
      <br>
      <br>

      <button type="button" class="btn friends">
        <i class="fas friend fa-user-friends"></i>
      </button>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <button type="button" class="btn bell">
        <i class="fas bel fa-bell"></i>
      </button>
      <br>
      <br>
      <button type="button" class="btn cog">
        <i class="fas cg fa-cog"></i>
      </button>
      <br>
      <br>
      <button type="button" class="btn logout">
        <i class="fas logg fa-sign-in-alt"></i>
      </button>
  </div> 

  <!-- <!DOCTYPE html>
  <html>
  <title>W3.CSS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css%22%3E">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <body>
  
  <div class="w3-sidebar w3-bar-block w3-grey w3-xxlarge" style="width:70px">
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-home"></i></a> 
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-search"></i></a> 
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a> 
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-globe"></i></a>
    <a href="#" class="w3-bar-item w3-button"><i class="fa fa-trash"></i></a> 
  </div>
  
  <div style="margin-left:70px">
  
  <div class="w3-container">
  <h2>Sidebar Icons</h2>
  <p>In this example we have used icons in the sidebar.</p>
  </div>
  
  </div>
  
  </body>
  </html> -->