<html>
    <head>
        <meta name="viewport"
        content="width=device-width, initial-scale=1">
    </head>

    <body>

       <div class="container">
           <div class="warningdiv">          
           <p class="paragraf1">
            <i class="fas warnings fa-exclamation-triangle"></i> Switching plan SW1 has changed its status.
           </p>
           </div>

           <br>

           <div class="warningdiv">          
            <p class="paragraf1">
                <i class="fas warnings fa-exclamation-triangle"></i> Switching plan SW1 has changed its status.
            </p>
            </div>

            <br>

            <div class="warningdiv">          
                <p class="paragraf1">
                    <i class="fas warnings fa-exclamation-triangle"></i> Switching plan SW1 has changed its status.
                </p>
            </div>

            <br>

            <div class="warningdiv">          
                <p class="paragraf1">
                    <i class="fas warnings fa-exclamation-triangle"></i> Switching plan SW1 has changed its status.
                </p>
            </div>

            <br>
            <br>

            <div class="btndiv">
                <button type="button" class="btn allread btn-primary">Mark all as read</button>

                <button type="button" class="btn clearall btn-primary">Clear all</button>
            </div>



        </div>

    </body>

</html>
