/*.menu
{
    position: relative;
    top: -2080px;
    left: -100px;
    width: 290px;
    height: 374px;
    border-style: solid;
    border-color: black;
    font-size: 20px;
    
}

i.check
{
    color: green;
    
}

i.info
{
    color: rgb(0, 204, 255);
}

i.warnings
{
    color: orange;
}

i.errors
{
    color: rgb(231, 17, 17);
}

button
{
    margin-top: 1px;
    margin-left: 1px;
    width: 205px;
    height: 60px;
    border-style: none;
    background-color: white;
}*/

mat-card {
    background-color: rgba(245, 237, 237, 0.849);
    width: 200px;
    border: solid black;
}

div.btndiv
{
    margin-left: 500px;
    margin-top: 300px;
   
}

button.allread
{
    width: 120px;
    height: 40px;
    font-size: 14px;
}

button.clearall
{
    width: 110px;
    height: 40px;
    font-size: 14px;
    margin-left: 20px;
}