.approve
{
    position: relative;
    left: 900px;
    width: 80px;
    height: 40px;
    font-style: italic;
    font-size: 18px;
    background-color: green;
}
.approve:hover
{
    background-color: lightgreen;
    transition-duration: 0.4s;
}


.cancel
{
    position: relative;
    left: 940px;
    width: 80px;
    height: 40px;
    font-style: italic;
    font-size: 18px;
    background-color: red;
}

.cancel:hover
{
    background-color: lightcoral;
    transition-duration: 0.4s;
}

.deny
{
    position: relative;
    left: 920px;
    width: 80px;
    height: 40px;
    font-style: italic;
    font-size: 18px;
    background-color: yellow;
}

.deny:hover
{
    background-color: lightyellow;
    transition-duration: 0.4s;
}

.labelunosid
{
    position: relative;
    font-size: 20px;
    bottom: -30px;
}

.unosid
{
    position: relative;
    bottom: -30px;
    margin-left: 10px;
}

.btnunosid
{
    position: relative;
    bottom: -30px;
    width: 80px;
    height: 40px;
    font-style: italic;
    font-size: 18px;
    margin-left: 20px;
}

.tabela 
{
    position: relative;
    left: 50px;
    top:  10px;
    width: 1290px;
}
  
.mat-form-field 
{
    width: 100%;
}
  
td, th 
{
    width: 12.5%;
    padding-right: 90px;
    font-size: 20px;
}

.ss
{
    position: relative;
    left: 100px;
    width: 400px;
}
.filter
{
    width: 1290px;
    height: 50px;
    font-size: 20px;
}
.row
{
    width: 400px;
}
.dugmadi
{
    position: relative;
    width: 400px;
    top: 60px;
    left: 100px;
}