

        
            

            <table class="tabela" id="tabela">

                <tr>
                    <td class="heder" align="right" colspan="5">

                        <button type="button" id="trashall" class="trashall"><i class="fas fa-trash"></i></button>

                        <button type="button" id="trash" class="trash"><i class="fas fa-trash"></i></button> 

                        <button type="button" id="check" class="checkcircle"><i class="far fa-check-circle"></i></button>
                        
                        <button type="button" id="plus" class="plussquare"><i class="fas fa-plus-square"></i></button>  
                                           
                    </td>
                </tr>

                <tr>

                    Popraviti brojilo u ulici Bulevar Oslobodjenja broj 23

                </tr>

                <tr>
                    Popraviti trafo stranicu u ulici Bulevar Evrope broj 30
                </tr>

            </table>
       
       

        

        <div class="container">

        
            <button class="btn dugmesacuvaj btn-primary" type="submit" id="sacuvaj" name="sacuvaj">Sacuvaj</button>
        

       
            <button class="btn dugmeponisti btn-primary" type="button" id="ponisti" name="ponisti">Ponisti</button>
        </div>
     
