/*.menu
{
    position: relative;
    top: 20px;
    left: -100px;
    width: 208px;
    height: 310px;
    border-style: solid;
    border-color: black;
    font-size: 20px;
    
}

button
{
    margin-top: 1px;
    margin-left: 1px;
    width: 200px;
    height: 60px;
    border-style: none;
    background-color: white;
}*/

mat-card {
    background-color: rgba(245, 237, 237, 0.849);
    width: 225px;
    border: solid black;
}

button {
    font-size: 16px;
}