<html>

<head>
    <meta name="viewport"
     content="width=device-width, initial-scale=1">
</head>

<body>

<div class="container">
    <div class="menu">
        <button routedLink="/BasicInformation" type="button">Basic Informations</button>
        <br>
        <button type="button">History of state changes</button>
        <br>
        <button type="button">Multimedia attachments</button>
        <br>
        <button type="button">Equipment</button>
        <br>
        <button type="button">Switching instructions</button>
    </div>

</div>

<app-unos-podataka></app-unos-podataka>

</body>

</html>


