<html>

<head>
    <meta name="viewport"
     content="width=device-width, initial-scale=1">
</head>

<body>

<div class="container">
    <div class="menu">
        <button routerLink="./BasicInformations" type="button">Basic Informations</button>
        <br>
        <button routerLink="./swHistoryOfStateChanges" type="button">History of state changes</button>
        <br>
        <button routerLink="./swMiltimediaAttachments" type="button">Multimedia attachments</button>
        <br>
        <button routerLink="./swEquipment" type="button">Equipment</button>
        <br>
        <button routerLink="./swSwitchingInstructions" type="button">Switching instructions</button>
    </div>

</div>

<router-outlet></router-outlet>

</body>

</html>


