.tabela 
{
    position: relative;
    left: 500px;
    top: -30px;
    width: 1500px;
}
  
.mat-form-field 
{
    width: 100%;
}
  
td, th 
{
    width: 50%;
    padding-right: 90px;
    font-size: 20px;
}

.ss
{
    position: relative;
    left: 100px;
    width: 400px;
}
.filter
{
    width: 1500px;
    height: 50px;
    font-size: 20px;
}