.tabela 
{
    position: relative;
    left: 200px;
    top: -400px;
    width: 1150px;
}
  
.mat-form-field 
{
    width: 100%;
}
  
td, th 
{
    width: 20%;
    padding-right: 90px;
    font-size: 20px;
}

.ss
{
    position: relative;
    left: 100px;
    width: 400px;
}
.filter
{
    position: relative;
    width: 1150px;
    height: 50px;
    font-size: 20px;
}

.highlight{
    background: #42A948; /* green */
  }