.table
{
    position: relative;
    left: -110px;
    width: 1420px;
    border:rgb(209, 203, 203);
    border-width: 2px;
    border-style: solid;

}

th
{
    font-size: 30px;
    font-weight: bold;
    width: 500px;
    text-align: left;
    
}

td
{
    font-size: 26px;
    text-align: left;
    border: 0cm;
    
}


.blackArrow
{
    position: relative;
    top: 20px;
    width: 10px;
    height: 10px;
    background-color: white;
    border-style: none;
}

.arrow
{
    width: 0px;
    height: 0px;
    font-size: 40px;
    font-weight: bold;
    color: black;
    position: relative;
    top: -15px;
    left: -10px; 
}